<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>device</title>
</head>

<body>
    <h1>device</h1>
    <p><%= cid%></p>
    <p><%= ua%></p>
    

    <!-- // <script src="/socket.io/socket.io.js"></script> -->
    <script>
    
    // var socket = io.connect(window.location.origin + '/device')

    // socket.on('device:init', function(data) {
        
    // })

    </script>
</body>

</html>
